body{
	background-color: #303336;
	zoom: 90%;
	}
h2{
	font-family: 'Roboto Mono', monospace;
	color: FFFFFF;
	font-size: 34px;
	line-height: 0.7;
	}
p{
	font-family: 'Roboto Mono', monospace;
	color: FFFFFF;
	font-size: 30px;
	line-height: 0.5;
	}
#Linkedin{
	right: 10px;
	top: 0px;
	left: auto;
	position: -webkit-sticky;
	position: sticky;
	position: absolute;
	
		}
#zoom {
    padding: 50px;
    transition: transform .2s;
    width: 400px;
    height: 400px;
    margin: 0 auto;
	box-sizing: border-box;
}

#zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
	box-sizing: border-box;